
.navbar {
    width: 100%;
    background: #0b5d3b;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.navbar-content {
    max-width: 1200px;
    height: 75px;

    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}


.nav-links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #d8f3dc;
}


.logout-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.logout-btn:hover {
    color: #d8f3dc;
}