.student-card{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:white;

    border-radius:12px;

    padding:22px;

    margin-bottom:20px;

    cursor:pointer;

    transition:.3s;

    box-shadow:
    0 5px 15px rgba(0,0,0,.08);
}

.student-card:hover{

    transform:translateY(-4px);

    box-shadow:
    0 14px 30px rgba(0,0,0,.12);
}

.student-card h3{

    color:#1B5E20;

    margin-bottom:5px;
}

.student-card p{

    color:#666;
}

.student-arrow{

    font-size:28px;

    color:#1B5E20;
}